pre {
  border: 1px solid blue;
  background-color: antiquewhite;
  min-width: 640px;
  min-height: 100px;
  font-size: 2em;
  margin-bottom: 0px;
}

button {
  padding: 6px;
}

#init {
  margin-top: 5px;
  margin-left: 30px;
}

#run {
  margin-top: 0px;
  margin-right: 30px;
}

#run2 {
  float: right;
  margin-top: 20px;
  margin-right: 30px;
}

#colonne-gauche {
  float: left;
  width: 600px;
}

#grille {
  float: left;
  margin-left: 50px;
}

#pre-src, #pre-user-src {
  display: none;
}

.nav {
  clear: both;
}
