pre {
  border: 1px solid blue;
  background-color: antiquewhite;
  min-width: 640px;
  min-height: 100px;
  font-size: 1.5em;
}
button {
  margin: 20px;
  padding: 10px;
}

#colonne-gauche {
  float: left;
  width: 600px;
}

#grille {
  float: left;
  margin-left: 50px;
}

#pre-src, #post-src {
  display: none;
}

.nav {
  clear: both;
}
